<%- include("../partials/header") %>
    <% if(currentUser) { %>
        <a href="/new">Add a new city</a></br>
    <% } %>

    

    Display cities
    <% cities.forEach((cities) => { %>
        <div class="cities-background">
            <h2><%= cities.city %></h2>
            <h2><%= cities.country %></h2>
            <h5>Posted by <%= cities.author.username %></h5>
            <img src="<%= cities.image %>">
            <p><%= cities.description %></p>
            <div>
                <a href="/cities/<%= cities._id %>" class="btn btn-primary">More Details</a>
            </div>
        </div>
    <% }) %>
<%- include("../partials/footer") %>