<%- include("../partials/header") %>
<!-- Only appears when user is logged in-->
<% if(currentUser) { %>
    <a href="/new">Add a new city</a></br>
<% } %>
<link rel="stylesheet" type="text/css" href="/styles/index.css" media="screen"/>    
<style>
    body { margin: 0; padding: 0; }
    #map { position: relative; top: 0; bottom: 0; width: 100%; height: 400px; }
</style>


    <!-- Mapbox js code for displaying the map with the location -->
<div class="container-fluid">    
    <div id='map' class="col-xl-12" ></div></br><!-- style='width: 400px; height: 400px'  -->
    <div id="menu">
        <input type="radio" id="streets-v11" name="streets>
        <label for="streets">Street View</label>
        <input type="radio" id="satellite-v9" name="streets>
        <label for="female">Satellite View</label><br>
    </div>
    </br>
</div>
    <!-- End of mapbox -->


<div class="container-fluid">
    <h5>Favorite Cities</h5>
    <div class="row"> 
        <% cities.forEach((cities) => { %>
            <div class="col col-md-6 col-lg-6 col-xl-3 my-2">
                <div class="card text-center p-2">
                    <!-- <div class="cities-background"> -->
                        <!-- <h7>Posted by <%= cities.author.username %></h7> -->
                        <img class="img-wrapper" src="<%= cities.images %>">
                        <h5 class="pt-2"><%= cities.city %></h5>
                        <div>
                            <a href="/cities/<%= cities._id %>" class="btn btn-outline-primary mt-1">More Details</a>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include("../partials/footer") %>

<script>
    let display = 'satellite-v9';
    mapboxgl.accessToken = '<%- process.env.MAPBOX %>';
    const cities = <%- JSON.stringify(cities) %>; 

    var map = new mapboxgl.Map({
        container: 'map',
        style: `mapbox://styles/mapbox/${display}`,
        center: [-103.59179687498357, 40.66995747013945], 
        zoom: 3
    });    
    // Switch view to street or sattelite based on clicked radio buttons
    var layerList = document.getElementById('menu');
    var inputs = layerList.getElementsByTagName('input');

    switchLayer = (layer) => {
        var layerId = layer.target.id;
        map.setStyle('mapbox://styles/mapbox/' + layerId);
    }
    for(var i = 0; i < inputs.length; i++) {
        inputs[i].onclick = switchLayer;
    }

    // Populate map with marker
    cities.forEach(result => {
        // Create marker
        new mapboxgl.Marker()
        .setLngLat(result.geolocation.coordinates) 
        .addTo(map)
    });
</script>

