<%- include("../partials/header") %>
    <% if(currentUser) { %>
        <a href="/new">Add a new city</a></br>
    <% } %>

    <style>
        body { margin: 0; padding: 0; }
        #map { position: relative; top: 0; bottom: 0; width: 100%; height: 400px; }
    </style>

    <!-- Mapbox js code for displaying the map with the location -->
    <div id='map' class="col-xl-12" ></div></br><!-- style='width: 400px; height: 400px'  -->
    <div id="menu">
        <input type="radio" id="streets-v11" name="streets>
        <label for="streets">Street View</label>
        <input type="radio" id="satellite-v9" name="streets>
        <label for="female">Satellite View</label><br>
    </div>
    </br>

    Display cities
    <% cities.forEach((cities) => { %>
        <div class="cities-background">
            <h2><%= cities.city %></h2>
            <h2><%= cities.country %></h2>
            <h5>Posted by <%= cities.author.username %></h5>
            <img src="<%= cities.images %>">
            <p><%= cities.description %></p>
            <div>
                <a href="/cities/<%= cities._id %>" class="btn btn-primary">More Details</a>
            </div>
        </div>
    <% }) %>
<%- include("../partials/footer") %>

<script>
    let display = 'satellite-v9';
    mapboxgl.accessToken = '<%- process.env.MAPBOX %>';
    const cities = <%- JSON.stringify(cities) %>; 

    var map = new mapboxgl.Map({
        container: 'map',
        style: `mapbox://styles/mapbox/${display}`,
        center: [-103.59179687498357, 40.66995747013945],   // 11.559149726469974, 104.84623146087296 //
        zoom: 3
    });
    
    // Switch view to street or sattelite based on clicked radio buttons
    var layerList = document.getElementById('menu');
    var inputs = layerList.getElementsByTagName('input');

    switchLayer = (layer) => {
        var layerId = layer.target.id;
        map.setStyle('mapbox://styles/mapbox/' + layerId);
    }

    for(var i = 0; i < inputs.length; i++) {
        inputs[i].onclick = switchLayer;
    }

    // Populate map with marker
    cities.forEach(result => {
        // Create marker
        new mapboxgl.Marker()
        .setLngLat(result.geolocation.coordinates) 
        .addTo(map)

        // Create popup with name of the city
        /* new mapboxgl.Popup({ closeOnClick: false })   
        .setLngLat(result.geolocation.coordinates)
        .setHTML(`<p>${result.city}</p>`)   
        .addTo(map); */
    });

</script>

