<%- include("../partials/header") %>
<!-- Search form -->
<div class="container-fluid">
    <h3>Search for a city</h3>    
        <form action="/cities/search" method="POST">
            <input type="text" name="searchCity" placeholder="search" class="form-control mb-2">
            <button type="submit" class="btn btn-outline-primary mb-2">Search</button>
            <a href="/cities" class="btn btn-outline-dark mb-2">Cancel</a>
        </form>
    </div>
</div>

<!-- Search results -->
<% citySearch.forEach((cities) => { %>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-12 card my-2">
                <h4><%= cities.city %></h4>
                <h6><%= cities.country %></h6>
                <img class="search-view" src="<%= cities.images %>"></br>
                <!-- Link to details city -->
                <a href="/cities/<%= cities._id %>"><button class="btn btn-outline-primary text-center">Details</button></a>       
            </div>
        </div>
    </div>
<% }) %>
    
    

