<%- include("../partials/header") %>
This is the Show Details Page

<h2><%= cities.city %></h2>
<h3><%= cities.country %></h3>
Posted by <%= cities.author.username %></br>
<img src="<%= cities.images %>">
<p>Latitude: <%= cities.geolocation.coordinates[1]%> Longitude: <%= cities.geolocation.coordinates[0]%></p>
<p><%= cities.description %></p>
<!-- Reference to comments model-->
<p>
    <% cities.comments.forEach((user) => { %>
        <p> date: <%= user.date %></br>
        Author: <%= user.author.username%></br>
        Comment: <%= user.comment %></br>        
        </p>
    <% }) %>
</p>

<a href="/cities">Back to cities</a></br>


<!-- <% if (currentUser) { %>
    <p> Current user is : <%= currentUser._id %></p>
    <%} else { %>
    No one is logged in
    <% } %></br>
Author of the city: <%= cities.author._id %> -->
    

<!-- Authorization - Only the owner of the city can update od delete it -->
<% if(currentUser && cities.author.equals(currentUser._id)) { %>
    <!-- DELETE data entry -->
    <form action="/cities/<%= cities._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger mb-2">DELETE CITY</button>
    </form>
    <!-- UPDATE data entry -->
    <form action="/cities/<%= cities._id %>/edit" method="GET">
        <button class="btn btn-secondary mb-2">UPDATE CITY</button>
    </form>
    
<% } %>

<!-- ADD new comment - Everyone can add comments who is logged in -->
<% if(currentUser) { %>
    <form action="/cities/<%= cities._id %>/comments/new" method="GET">
        <button class="btn btn-secondary mb-2">New Comment</button>
    </form>
<% } %>

<%- include("../partials/footer") %>