<%- include("../partials/header") %>
This is the Show Details Page

<script type="text/javascript" src="/script/script.js"></script>
<h2><%= cities.city %></h2>
<h3><%= cities.country %></h3>
Posted by <%= cities.author.username %></br>
<img src="<%= cities.images %>">

<div id="latitude"> <%= cities.geolocation.coordinates[1]%> </div>
<div id="longitude"> <%= cities.geolocation.coordinates[0]%> </div>

<p><%= cities.description %></p>
<!-- Reference to comments model-->
<p>
    <% cities.comments.forEach((user) => { %>
        <p> date: <%= user.date %></br>
        Author: <%= user.author.username%></br>
        Comment: <%= user.comment %></br>        
        </p>
    <% }) %>
</p>

<!-- Mapbox js code for displaying the map with the location -->
<div id='map' style='width: 400px; height: 300px;'></div>
<script>
    // Get the coordinates   
    let lng = document.getElementById('longitude').innerHTML;
    let lat = document.getElementById('latitude').innerHTML;   
    
    mapboxgl.accessToken = '<%- process.env.MAPBOX %>'
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [lng, lat], // starting position [lng, lat]
        zoom: 9 // starting zoom
    });
</script>


<!-- <% if (currentUser) { %>
    <p> Current user is : <%= currentUser._id %></p>
    <%} else { %>
    No one is logged in
    <% } %></br>
Author of the city: <%= cities.author._id %> -->
    
<!-- Authorization - Only the owner of the city can update od delete it -->
<% if(currentUser && cities.author.equals(currentUser._id)) { %>
    <!-- DELETE data entry -->
    <form action="/cities/<%= cities._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger mb-2">DELETE CITY</button>
    </form>
    <!-- UPDATE data entry -->
    <form action="/cities/<%= cities._id %>/edit" method="GET">
        <button class="btn btn-secondary mb-2">UPDATE CITY</button>
    </form>    
<% } %>

<!-- ADD new comment - Everyone can add comments who is logged in -->
<% if(currentUser) { %>
    <form action="/cities/<%= cities._id %>/comments/new" method="GET">
        <button class="btn btn-secondary mb-2">New Comment</button>
    </form>
<% } %>

<a href="/cities">Back to cities</a></br>

<%- include("../partials/footer") %>