<%- include("../partials/header") %>
This is the Show Details Page

<script type="text/javascript" src="/script/script.js"></script>
<h2><%= cities.city %></h2>
<h3><%= cities.country %></h3>
Posted by <%= cities.author.username %></br>
<img src="<%= cities.images %>">

Latitude:<div id="latitude"> <%= cities.geolocation.coordinates[1]%> </div>
Longitude:<div id="longitude"> <%= cities.geolocation.coordinates[0]%> </div>

<!-- Mapbox js code for displaying the map with the location -->
<div id='map' class="col-xl-12" style='width: 400px; height: 400px'></div></br>

<!-- Radio buttons to switch between street and satellite view -->
<div id="menu">
    <input type="radio" id="streets-v11" name="streets>
    <label for="streets">Street View</label>
    <input type="radio" id="satellite-v9" name="streets>
    <label for="female">Satellite View</label><br>
</div>
</br>
<!-- End of radio buttons -->

<!-- Start of review section -->
<form action="/cities/<%= cities._id %>/reviews" method="POST">
    <!-- Review text -->
    <label class="form-label" for="review">Review</label></br>
    <textarea class="form-control" type="text" name="review" placeholder="Your review"></textarea></br>
    <!-- Rating from 1 to 5 -->
    <label class="form-label" for="rating">Rating</label>
    <input type="range" min="1" max="5" value="0" class="form-control-range" id="rating" name="rating">

    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
<!-- End of review section -->

<!-- Start of comments section -->
<h5>Comments</h5>
<p><%= cities.description %></p>
<p>
    <% cities.comments.forEach((user) => { %>
        <p> Date: <%= user.date %></br>
        Author: <%= user.author.username%></br>
        Comment: <%= user.comment %></br>        
        </p>
    <% }) %>
</p>
<!-- End of comments section -->


<script>
    // Get coordinates   
    let lng = document.getElementById('longitude').innerHTML;
    let lat = document.getElementById('latitude').innerHTML;   
    
    mapboxgl.accessToken = '<%- process.env.MAPBOX %>';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [lng, lat], // starting position [lng, lat]
        zoom: 9 // starting zoom
    });

  
    // Switch view to street or sattelite based on clicked radio buttons
    var layerList = document.getElementById('menu');
    var inputs = layerList.getElementsByTagName('input');

    switchLayer = (layer) => {
        var layerId = layer.target.id;
        map.setStyle('mapbox://styles/mapbox/' + layerId);
    }

    for(var i = 0; i < inputs.length; i++) {
        inputs[i].onclick = switchLayer;
    }
    
    // marker on map
    var marker = new mapboxgl.Marker()
    .setLngLat([lng, lat])
    .addTo(map);
</script>


<!-- <% if (currentUser) { %>
    <p> Current user is : <%= currentUser._id %></p>
    <%} else { %>
    No one is logged in
    <% } %></br>
Author of the city: <%= cities.author._id %> -->
    
<!-- Authorization - Only the owner of the city can update od delete it -->
<% if(currentUser && cities.author.equals(currentUser._id)) { %>
    <!-- DELETE data entry -->
    <form action="/cities/<%= cities._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger mb-2">DELETE CITY</button>
    </form>
    <!-- UPDATE data entry -->
    <form action="/cities/<%= cities._id %>/edit" method="GET">
        <button class="btn btn-secondary mb-2">UPDATE CITY</button>
    </form>    
<% } %>

<!-- ADD new comment - Everyone can add comments who is logged in -->
<% if(currentUser) { %>
    <form action="/cities/<%= cities._id %>/comments/new" method="GET">
        <button class="btn btn-secondary mb-2">New Comment</button>
    </form>
<% } %>

<a href="/cities">Back to cities</a></br>

<%- include("../partials/footer") %>