<%- include("../partials/header") %>
This is the Show Details Page

<h2><%= cities.city %></h2>
<h2><%= cities.country %></h2>
<img src="<%= cities.image %>">
<p><%= cities.description %></p>
<!-- Reference to comments model-->
<p>
    <% cities.comments.forEach((comment) => { %>
        <p>
            User: <%= comment.user %></br>
            Comment: <%= comment.comment %></br>
        </p>
    <% }) %>
</p>

<a href="/cities">Back to cities</a>

<!-- DELETE data entry -->
<% if(currentUser) { %>
    <form action="/cities/<%= cities._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger mb-2">DELETE CITY</button>
    </form>

    <!-- UPDATE data entry -->
    <form action="/cities/<%= cities._id %>/edit" method="GET">
        <button class="btn btn-secondary mb-2">UPDATE CITY</button>
    </form>

    <!-- ADD new comment-->
    <form action="/cities/<%= cities._id %>/comments/new" method="GET">
        <button class="btn btn-secondary mb-2">New Comment</button>
    </form>
<% } %>

<%- include("../partials/footer") %>