<%- include("../partials/header") %>
    
    <div class="container">
        <h3>Update Data</h3>    
            <form action="/update/<%= cities._id %>?_method=PUT" method="POST" enctype="multipart/form-data"><!-- multipart is important to upload files -->
            <h6>Name</h6>
            <input type="text" name="city" placeholder="city name" class="form-control mb-2" value="<%= cities.city %>">
            <h6>Country</h6>
            <input type="text" name="country" placeholder="country" class="form-control mb-2" value="<%= cities.country %>">
            <h6>Image of the Post</h6> 
            <!-- <input type="text" name="images" placeholder="image" class="form-control mb-2" id="images" value="<%= cities.images %>"> -->
            <img src="<%= cities.images %>" class="img-thumbnail">

            <h6></p>Select a New Image</h6>
            <input type="file" name="images" id="image" required>
            <p>
                <h6>Description</h6>
                <textarea class="form-control" type="text" name="description"><%= cities.description %></textarea></br>
                <a href="/" class="btn btn-outline-dark mb-2">Cancel</a>
                <button type="submit" class="btn btn-outline-primary mb-2">Submit</button>
            </p>
        </form>
    </div>
    <a href="/cities">Back</a>

<%- include("../partials/footer") %>