<%- include("partials/header") %>

    <a href="/cities/new">Add a new city</a></br>
    Display cities
    <% cities.forEach((city) => { %>
        <div>
            <h2><%= city.city %></h2>
            <h3><%= city.country %></h3>
            <img src="<%= city.image %>">
        </div>
    <% }) %>
    
<%- include("partials/footer") %>