<%- include("partials/header") %>

    <a href="/cities/new">Add a new city</a></br>
    Display cities
    <% cities.forEach((cities) => { %>
        <div>
            <h2><%= cities.city %></h2>
            <h2><%= cities.country %></h2>
            <img src="<%= cities.image %>">
         
        </div>
    <% }) %>
    
<%- include("partials/footer") %>