<%- include("partials/header") %>

    <a href="/cities/new">Add a new city</a></br>
    Display cities
    <% cities.forEach((cities) => { %>
        <div class="cities-background">
            <h2><%= cities.city %></h2>
            <h2><%= cities.country %></h2>
            <img src="<%= cities.image %>">
            <button><a href="/cities/show">Show Details</a></button>
            <p><%= cities.description %></p>
        </div>
    <% }) %>
    
<%- include("partials/footer") %>